.pagination-style {
    list-style: none;
    display: flex;
    justify-content: center;
}

.item {
    padding: 10px;
}

.active-item {
    background-color: crimson;
    /* height: 42px; */
    font-size: 18px;
    font-weight: bold;
}

.active-link {
    color: white
}

.active-link:hover {
    color: white
}